<footer class="p-5 lg:py-20 md:px-[100px] lg:px-[150px] xl:px-[200px] w-full border-t-2 mt-10">
  <div class="flex flex-col flex-warp md:flex-row  w-full items-start  justify-between">
    <div class="flex-col">
      <img src="../../../../../assets/images/bag my trip logo new.png" class="w-[100px]" alt="">
      <p class="text-xs text-gray-600 mt-2">Travel helps companies <br> manage payments easily</p>
      <div class="flex gap-10 mt-2">
        <a href=""><i class="fa-brands fa-facebook-f fa-xs lg:fa-sm" style="color: #ff7300;"></i></a>
        <a href=""><i class="fa-brands fa-instagram fa-xs" style="color: #ff7300;"></i></a>
        <a href=""><i class="fa-brands fa-twitter fa-xs" style="color: #ff7300;"></i></a>
      </div>
    </div>
    <div class="flex gap-10 lg:gap-20">
      <div class="flex-col text-gray-600 text-sm lg:text-md mt-10">
        <h3 class="font-bold mb-2">Company</h3>
        <ul>
          <li><a href="">About us</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Pricing</a></li>
        </ul>
      </div>

      <div class="flex-col text-gray-600 text-sm mt-10">
        <h3 class="font-bold mb-2">Destiantions</h3>
        <ul>
          <li><a href="">Jammu & Kashmir</a></li>
          <li><a href="">Lakshwadeep</a></li>
          <li><a href="">Munnar</a></li>
          <li><a href="">New Delhi</a></li>
        </ul>
      </div>
    </div>

    <div class="flex-col mt-10 text-sm text-gray-600">
      <h3 class="font-bold">Join our Newsletter</h3>
      <div class="flex mt-2">
        <input type="text" class="border-2 p-2 rounded-l-md outline-none focus:bg-slate-100">
        <button class="bg-orange-600 text-white p-2 px-6 rounded-r-md transition ease-in-out duration-300 hover:scale-105 active:scale-100">Subscribe</button>
      </div>
      <p class="text-xs">* Will send you weekly updates for your better tour packages.</p>
    </div>
  </div>
</footer>