<!-- <swiper-container [slidesPerView]="3" [spaceBetween]="30" [navigation]="true" [pagination]="{ clickable: true }"
  [autoplay]="{ delay: 3000 }" [loop]="true" [effect]="'fade'">
  <swiper-slide *ngFor="let tour of tours">
    <div class="tour-card">
      <img [src]="tour.featureImage" [alt]="tour.title">
      <p class="text-xl font-bold">{{ tour.title }}</p>
      <span class="price">${{ tour.pricePerPerson }}</span>
      <p>{{ tour.description }}</p>
    </div>
  </swiper-slide>
</swiper-container> -->