

.tour-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}


/* trending.component.css */
:host {
  display: block;
  width: 100%;
}

/* Swiper custom styles */
::ng-deep swiper-container {
  width: 100%;
  padding-bottom: 3rem !important;
}


/* Navigation buttons */
::ng-deep .swiper-button-next,
::ng-deep .swiper-button-prev {
  color: #c2410c !important; 
  display: none !important;
}

@media (min-width: 768px) {
  ::ng-deep .swiper-button-next,
  ::ng-deep .swiper-button-prev {
    display: flex !important;
  }
}

