<section>
  <div class="hero w-full h-[90vh] bg-left p-5 md:px-[100px] lg:px-[150px] xl:px-[200px] flex flex-col justify-center">
    <div>
      <p class="font-semibold text-3xl md:text-5xl lg:text-6xl  text-white">No matter where <br>you’re going to, <br> we’ll take you there</p>
    </div>

      <div class="flex w-full items-center mt-10 text-sm">
        <div class="rounded-lg shadow-md flex items-center filter-search ">
          <div class="border-r border-gray-300 p-2  md:p-4 lg:px-6 xl:px-8 flex items-center">
            <select class="outline-none text-gray-700 bg-transparent appearance-none px-2 ">
              <option disabled selected>Where to?</option>
              <option>Flight</option>
              <option>Hotel</option>
              <option>Car Rental</option>
            </select>
            <i class="fa-solid fa-chevron-down text-gray-700 text-sm"></i>
          </div>
          <div class="border-r border-gray-300 p-2 md:p-4 lg:px-6 xl:px-8 w-auto flex items-center">
              <select class="outline-none text-gray-700 bg-transparent appearance-none px-2 ">
                  <option disabled selected>Travel Type </option>
                  <option>Flight</option>
                  <option>Hotel</option>
                  <option>Car Rental</option>
              </select>
              <i class="fa-solid fa-chevron-down text-gray-700"></i>
          </div>
          <button class="  bg-orange-500 text-white px-4 py-2 md:py-4 md:px-8 lg:px-10 xl:px-12 rounded-r-lg hover:bg-orange-600 transition duration-300">
              Submit
          </button>
        </div>
         
      </div>

      <div class="mt-5">
        <button (click)="openTripPlanPopup()" class="plan-btn shadow-md bg-green-500 text-white px-6 py-2 lg:px-10 lg:py-5 lg:text-lg rounded-r-lg hover:bg-orange-600 transition duration-100">Choose your plan <i class="fa-solid fa-arrow-right"></i></button>
      </div>
  </div>
 
</section>