.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../../../assets/images/full-shot-travel-concept-with-landmarks.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-search {
  background: rgba(255, 255, 255, 0.774);
}
.plan-btn i {
  animation: move 1s linear infinite;
}

p {
  text-shadow: 2px, 2px, 0px black;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
