<header class="fixed top-0 left-0 right-0 p-5 md:px-[100px] lg:px-[150px] xl:px-[200px] bg-transparent z-10000">
  <div class="flex items-center justify-between ">
    <div>
      <a routerLink="/">
        <img class="w-[120px] lg:w-[150px]" src="assets/images/White bag my trip logo new_.png" alt="">
      </a>
    </div>
    <div class="sm:block md:hidden text-white text-xl">
      <i class="fa-solid fa-bars cursor-pointer" (click)="toggleMenu()"></i>
    </div>
    <div id="nav" class="hidden md:block">
      <ul class="space-x-[50px] flex text-lg text-white">
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
    <div class="hidden md:block">
      <button class="rounded-md bg-orange-600 p-3 text-white text-sm hover:bg-orange-800 transition ease-in-out duration-300 active:scale-95">
        Get in Tocuh
      </button>
    </div>
  </div>
 
</header>

<!-- Mobine nav -->
 <nav id="menu" [@menuAnimation]="isMenuOpen? 'open': 'closed' " class="fixed top-0 left-0 w-full h-full  opacity-0  flex-col items-center justify-center z-50 p-3 pt-5 md:hidden bg-purple-900 text-white font-bold">
  <div class="flex justify-center">
    <img src="../../../../../assets/images/bag my trip logo new.png" class="w-[150px]" alt="">
    <button id="close-nav" class="absolute top-5 right-5 text-3xl" (click)="toggleMenu()">&times;</button>
  </div>
    <ul class="text-xl space-y-5 mt-5">
      <li><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
 </nav>