@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

.hero {
  background-image: url("/assets/images/details/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text {
  font-family: "Yesteryear", system-ui;
  font-weight: 400;
  font-style: normal;
}
