<div class="w-full h-auto  flex flex-col gap-2 text-[#181E4B]">
    <div class="text-center text-xs text-orange-500"><b>CATEGORY</b></div>
    <div class="text-[1.5rem] lg:text-[1.8rem] text-center mb-2 ">
        <b>We Offer Best Services</b>
    </div>
    <!-- Card container -->
    <div class="flex gap-2 md:gap-8 lg:gap-10 justify-center flex-wrap mt-10">
        <!-- Card div -->
        <div
            *ngFor="let service of serviceList; let i = index" 
            [@slideInBottom]="cardVisibility[i] ? 'visible' : 'hidden'" 
            (inView)="onCardInView(i, $event)"
            class="bg-white max-w-[9.85rem] sm:max-w-[11rem] md:max-w-[12rem] flex flex-col p-4 rounded-2xl gap-3 relative hover:shadow-light_wide border border-gray-100 hover:border-none"
        > 
            <div class="flex z-10 before:-z-20 items-center justify-center before:absolute before:top-[3.3rem] sm:before:top-[4rem] md:before:top-[4.4rem] before:left-[4.5rem] md:before:left-[6rem] before:w-9 before:h-8 before:bg-orange-100 before:rounded-lg">
                <img [src]="service.image" class="w-3/5 h-3/5" alt="">
            </div>
            <div class="text-sm text-center"><b>{{ service.heading }}</b></div>
            <div class="text-gray-600 text-xs text-center">{{ service.body }}</div>
        </div>
    </div>
</div>