@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.success-snackbar {
  position: absolute;
  top: 10%;
}
.text {
  font-family: "Yesteryear", system-ui;
  font-weight: 400;
  font-style: normal;
}
